extends layout

block content
	// script(src="/javascripts/fileUpload.js")


	a(href='/', class='', title='Main page') Main page

	h1= title
	form(id="heroForm", class="", action="/upload_file_post", enctype="multipart/form-data", method="post", style="clear: both")
		input(id="fileToUpload", type="file", name="thumbnail", style="float: left; clear: both")
		input(type="submit", name="Save", value="Upload file", style="float: left; margin: 5px 0 0 0; clear: both", onclick="return Uploader.uploadFile();")

	p(style="clear: both") 
		h1= 'Upload formidable'

	form(id="heroForm", class="", action="/upload_file_formidable", enctype="multipart/form-data", method="post")
		input(id="fileToUpload", type="file", name="thumbnail", style="float: left; clear: both")
		input(type="submit", name="Save", value="Upload file", style="float: left; margin: 5px 0 0 0; clear: both")