body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#main_link {
	float: left;
	clear: both;
}

.main_link {
	float: left;
	margin: 0 10px 0 0
}